nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
}

a {
  color: grey;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-1 h1 {
  color: rgb(14, 253, 217);
}
.section-1-1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.section-1-1 p {
  width: 450px;
}
.section-2 div {
  width: 25%;
  height: 320px;
  color: white;
  font-size: 1.5em;
  padding: 30px;
  border-radius: 10px;
}
.section-2-1 {
  background-color: rgb(98, 213, 174);
}
.section-2-2 {
  background-color: rgb(12, 87, 225);
}
.section-2-3 {
  background-color: rgb(7, 7, 53);
}
.section-2 {
  display: flex;
  justify-content: space-evenly;
}
.section-3 {
  display: flex;
  justify-content: space-around;
}
.section-3 h1 {
  color: rgb(98, 213, 174);
  font-weight: lighter;
  font-size: 2em;
  width: 250px;
}
.section-3 div {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.section-3 div a {
  margin-left: 15px;
}
.section-4 {
  height: 600px;
  background-color: rgba(165, 218, 218, 0.587);
  display: flex;
  justify-content: center;
}
.section-4 h1 {
  width: 60%;
  font-size: 1.9em;
  color: rgb(98, 213, 174);
}
/* .section-4 p {
  width: 20%;
} */
.section4-1 h5 {
  color: rgb(98, 213, 174);
}
.section-4-2,
.section-4-3,
.section-4-4,
.section-4-5 {
  background-color: white;
  width: 60%;
  height: 250px;
  padding: 20px;
  border-radius: 7px;
}
.section4-1 {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}
.section-one,
.section-two {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section4-2 p {
  width: 70%;
}
.section4-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-5 h1 {
  color: rgb(98, 213, 174);
  font-size: 30px;
}
.section-5 p {
  width: 50%;
}
.section-6 {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
